<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ekatte</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-lg-6">
	  <form action="/" class="input-group"  method="POST">
	    <input type="text" class="form-control" name="search" placeholder="Въведете селище.." value="{{ request.form.search}}">
	    <span class="input-group-btn">
	      <input type="submit" class="btn btn-secondary" value="Покажи">
	    </span>
	  </form>
	</div>
      </div>
    <div class="results">
    {% if res %}
      <table class="table">
        <thead class="thead-inverse">
	  <tr>
	    <th>Селище</th>
	    <th>Област</th>
	    <th>Община</th>
	  </tr>
	</thead>
	<tbody>
	    {% for r in res %}
	      <tr>
		<td>{{ r[0] + " " + r[1] }}</td>
		<td>{{ r[2] }}</td>
		<td>{{ r[3] }}</td>
	      </tr>
	    {% endfor %}
       	</tbody>
        </table>
      {% endif %}
      </div>	
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   </body>
</html>
